<div class="container-fluid foot">
	<div class="row">
		<div class="col-md-6">
			<!--<img src="img/logo.gif" class="img-responsive">-->
			<p>© 2015 Gabriels Motors - www.electrodiesel.com.ar<br>
			Argentina (B1678AEP)<br>
			Teléfono: </p>
		</div>
		
	</div>
</div>